* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

.center-width {
    width: 60rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: 1rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav__top ul {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.5rem;
    padding: 1rem 0;
}

.nav__top li {
    margin-right: 0.5rem;

}

.nav__top a {
    margin-left: 0.2rem;
}

.nav__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__brand{
    flex-grow: 1;
}

.nav__brand img{
    width: 6rem;
}

.nav_items{
    padding: 1rem;
}
.nav_item{
    display: none;
}

.nav__basket{
    background-color: #00372b;
    border-radius: 15px;
    padding: 0.6rem 1rem;
    
}

.nav__basket a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.basket-amount{
    margin-left: 0.5rem;
    background-color: #fff8e1;
    border-radius: 50%;

    color: #00372b;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.6rem;
}

.hamburger-icon img{
    width: 2rem;
}

/* main */

h1{
    color: #c11462;
    font-size: 3.5rem;
}

h2{
    color: #93c683;
    font-size: 2.5rem;
}
h4{
    border-bottom: 1px solid rgba(255, 0, 0, 0.2);
    color: rgb(193, 20, 98);
    font-size: 1.5rem;
}

p{
    font-weight: 100;
}

.article-text{
    padding: 1rem 0;
}

.article-first{
    background-color: #fff8e1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.article-first div{
    order: -1;
}

.article-first img{
    width: 20rem;
}

.article-second img{
    width: 100%;
}

.article-second section{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1.5rem;
}

.action-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


.actionbutton{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 1.5rem;
    border: 1px red solid;
    border-radius: 15px;

}

.actionbutton img{
    width: 0.8rem;
    margin-left: 0.3rem;
}

.cards-header{
    padding: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}
.cards-header h2{
    margin-bottom: 0.5rem;
}

.card--container{
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 1rem;
    width: 12rem;
    
    flex-grow: 1;
}
.card a{


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img{
    width: 100%;
    margin-bottom: 1rem;
}

.card h4{
    display: inline;
}

.bgcolor-green{
    background-color: #00372b;
}

.bgcolor-green p{
    color: #bfe7cc;
}

.bgcolor-green .actionbutton{
    border: 1px solid #b7f4b7;
}

.bgcolor-green .actionbutton p{
    color: #fff;
}